body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: black;
    color: white;
}
.dark-mode button, .dark-mode .menu-bar-button {
    background-color: black; 
    color: white;           
}
.dark-mode .menu-bar-button:hover{
    background:  hsl(0, 0%, 15%);
}
.dark-mode a {
    color: white !important;
    transition: background-color 0.3s, color 0.3s;
}
.dark-mode .menu-bar{
    background-color: black; 
    color: white;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 5px rgb(142, 142, 142); 
}
.dark-mode .school {
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
.card {
    border: none;
    padding: 20px;
    /*margin-left: 20px;*/
    text-align: center;
    max-width: 15rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.mode {
    background-color: white;
}
.card-image{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card-title{
    margin: 0;
    font-size: 1.1rem;
}

.menu-bar{
    padding: 0;
    margin-left: 20%;
    background: hsl(360 94% 100%);
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


.menu-bar-button, .exp-button {
    border: none;
    font-size: 1.4rem;
    background: hsl(360 94% 100%);
    display: inline-block;
    flex-direction: row;
    margin: 0; 
    padding: 0px 50px;
    cursor: pointer;
}

.menu-bar-button:hover, .exp-button:hover{
    background:  hsl(0, 0%, 96%);
}

.divider {
    height: 2px;
    background-color: #ccc; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0; 
}

.copyright {
    font-size: 0.5rem;
}
.home {
    margin-top: 5%;
}
.home, .programming-language, .experiences{
    margin-left: 20%;
}

.home h2 {
    text-align: center;
}
.intro, .study, .interest, .tools, .job, .info, .date{
    font-size: 1.2rem;
}

a {
    color: hsl(0, 2%, 19%);
}

a:visited {
    color: hsl(0, 2%, 19%);
}

.item > p{
    display: inline-block;
}

.school {
    margin-left: 50px;
    padding-left: 50px;
    color: hsl(0, 0%, 47%);
}

.study {
    padding: 0;
    margin: 0;
}

.intro {
    max-width: 85%;
    margin-bottom: 15px;
}

.home h3, .programming-language h3, .experiences h3{
    font-size: 1.6rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%; 
}

.tables-container {
    display: flex;
}

.table-wrapper {
    flex: 50%;
    padding: 15px;
}

td {
    text-align: left;
    padding: 13px;
    width: 100px;
  }

th {
    text-align: left;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

#home {
    padding-top: 80px; 
    margin-top: -80px;
}

@keyframes load{

    from {
    
    width: 0%
    
    }
    
    }
    
    @-webkit-keyframes load{
    
    from {
    
    width: 0%
    
    }
    
    }
    
    @-moz-keyframes load{
    
    from {
    
    width: 0%
    
    }
    
    }
    
    @-o-keyframes load{
    
    from {
    
    width: 0%
    
    }
    
    }
    
    .bar{
        background-color: #EEE;
        padding: 2px;
        border-radius: 15px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #FFF;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        
    }
    .bar::before{
        content: attr(data-skill);
        background-color: #f3b0ff;
        display: inline-block;
        padding: 5px 0 5px 10px;
        border-radius: inherit;
        animation: load 2s 0s;
        -webkit-animation: load 2s 0s;
        -moz-animation: load 2s 0s;
        -o-animation: load 2s 0s;
    }
    .bar.front::before{
        background-color: #bdeef0;
    }
    .bar.back::before{
        background-color: #a6cfe3;
    }
    
    .bar.learning::before{
        width: calc(20% - 10px);
    }
    .bar.basic::before{
        width: calc(40% - 10px);
    }
    .bar.alright::before{
        width: calc(60% - 10px);
    }
    .bar.intermediate::before{
        width: calc(80% - 10px);
    }
    .bar.high::before{
        width: calc(100% - 10px);
    }
    @media (max-width: 1175px) and (min-width: 710px){
        .intro-p {
            margin-top: 30%;
        }
        body {
            font-size: 0.75rem !important; 
        }
    
        .home h3, .programming-language h3, .experiences h3 {
            font-size: 0.75rem !important; 
        }
    
        .interest, .study, .school, .info, .date, .tools, .job, .intro {
            font-size: 0.75rem !important; 
        }
        
        .home, .programming-language, .experiences{
            margin-left: 0;
        }

        .exp-button {
            font-size: 0.75rem !important; 
            display: block;
            width: 100%;
            text-align: left;
        }
        .card {
            align-items: center;
            margin-left: 5rem;
        }
        .card-image{
            width: 30%;
        }
        .menu-bar {
            display: none;
        }
        .bar {
            font-size: 0.75rem;
        }
    }
    @media (max-width: 710px) {
        body {
            font-size: 0.75rem !important; 
        }
    
        .home h3, .programming-language h3, .experiences h3 {
            font-size: 0.75rem !important; 
        }
    
        .interest, .study, .school, .info, .date, .tools, .job, .intro {
            font-size: 0.75rem !important; 
        }

        .home, .programming-language, .experiences{
            margin-left: 0;
        }
    
        .exp-button {
            font-size: 0.75rem !important; 
            display: block;
            width: 100%;
            text-align: left;
        }
        .intro-p {
            margin-top: 55%;
        }
        .card {
            align-items: center;
            margin-left: 5rem;
        }
        .card-image{
            width: 30%;
        }
        .menu-bar {
            display: none;
        }
        .bar {
            font-size: 0.75rem;
        }
    }